<div class="blog-card">
    <a href="/blog/{{id}}">
        <div class="blog-header">
            <h4>{{title}}</h4>
            <p>Posted by <span>{{user.username}}</span> on </p>
        </div>
        <div class="blog-content">
            <p>{{content}}</p>
            <div class="num-of-comments">
                <p></p>
            </div>
        </div>
    </a>
</div>