<div class="comment-card">
    <div class="comment-header">
        <p>Comment posted by <span>{{user.username}}</span> on {{format_date createdAt}}</p>
    </div>
    <div class="comment-text">
        <p class="comment-main-text">{{comment_text}}</p>
    </div>
</div>