{{#each data as |db|}}
{{> dashboard-card}}
{{/each}}

<div class="db-newpost-container">
    <button class="post-btn">
        <a href="/dashboard/newpost">+ Create New Post</a>    
    </button>
</div>