<div class="homepage-new-post">
    <h3>Create a new Blog Post</h3>
    <form class="new-post">
        <div class="new-post-title">
            <label for="hp-post-title">Title:</label>
            <input id="hp-post-title" type="text">
        </div>
        <div class="new-post-content">
            <label for="hp-post-content">Content:</label>
            <textarea id="hp-post-content" cols="30" rows="5"></textarea>
        </div>
        <button class="new-post-btn" id="hp-newpost-btn" type="submit">Submit</button>
    </form>
</div>

<script src="/js/hpNewPost.js"></script>