<div class="form-main-container">
    <form class="login-form">
        <div class="form-container">
            <label for="login-email">Email:</label>
            <input class="input-field" type="text" id="login-email">
        </div>
        <div class="form-container">
            <label for="login-password">Password:</label>
            <input class="input-field" type="password" id="login-password">
        </div>
        <div>
            <button class="form-button" type="submit">Login</button>
        </div>
    </form>

    <a class="form-anchor" id="signup" href="/signup">Sign up instead?</a>
</div>

<script src="./js/login.js"></script>