<div class="login-main-container">
    <form class="login-form">
        <div class="login-container">
            <label for="login-email">Email:</label>
            <input type="text" id="login-email">
        </div>
        <div class="login-container">
            <label for="login-password">Password:</label>
            <input type="password" id="login-password">
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <a id="signup" href="/signup">Sign up instead?</a>
</div>

<script src="./js/login.js"></script>