@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header.banner {
    width: 100%;
    background-color: dodgerblue;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(145, 200, 255);
    padding: 0.5rem 2rem;
}

nav h2 {
    font-size: 2rem;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-out;
}

nav a:hover {
    color: rgb(64, 115, 165);
}

nav ul {
    display: flex;
    font-size: 1.3rem;
}

nav li {
    list-style-type: none;
    margin-left: 1.5rem;
}

main {
    width: 100%;
}

.main-container {
    padding: 2rem;
}

.main-blog-container {
    max-width: 1100px;
    margin: 0 auto 3rem;
}

.blog-card {
    width: 100%;
    border: 3px solid rgb(145, 200, 255);
    font-size: 1rem;
    padding: 0.3rem;
}

.blog-card a {
    text-decoration: none;
    color: #000;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dodgerblue;
    padding: 0.5rem 0.3rem;
    color: #fff;
}

.blog-header p {
    color: #dedede;
    font-size: 0.8rem;
}

.blog-header span {
    color: #fff;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.blog-main-content {
    padding: 1.5rem 0.5rem;
}

.num-of-comments {
    color: #cdcdcd;
    font-size: 0.8rem;
    min-width: 55px;
    align-self: flex-end;
}

#logout {
    cursor: pointer;
}

.form-main-container {
    max-width: 200px; 
    margin: 2rem auto 0;
    height: 80vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field {
    padding: 0.2rem 0 0.2rem 0.1rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    outline: none;
}

.form-button {
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(24, 113, 202);
    color: #fff;
    transition: 0.1s ease;
    margin-bottom: 0.6rem;
}

.form-button:hover {
    background-color: rgb(98, 176, 255);
}

.form-button:active {
    transform: scale(0.95);
}

.form-anchor {
    text-decoration: none;
    color: dodgerblue;
    font-size: 0.8rem;
    transition: 0.1s ease;
}

.form-anchor:hover {
    color: rgb(165, 210, 255);
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.comment-card {
    width: 97%;
    max-width: 1000px;
    border-left: 3px solid rgb(145, 200, 255);
    border-right: 3px solid rgb(145, 200, 255);
    border-bottom: 3px solid rgb(145, 200, 255);
    font-size: 0.85rem;
    padding: 0.1rem 0.1rem;
    margin-left: auto;
}

.comment-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(145, 200, 255);
    padding: 0.4rem 0.3rem;
    color: #fff;
}

.comment-header p {
    color: #808080;
    font-size: 0.7rem;
}

.comment-header span {
    color: #fff;
}

.comment-main-text {
    padding: 1rem 0.5rem;
}
