@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header.banner {
    width: 100%;
    background-color: dodgerblue;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(145, 200, 255);
    padding: 0.4rem 2rem;
}

nav h2 {
    font-size: 2rem;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-out;
}

nav a:hover {
    color: rgb(42, 81, 120);
}

nav ul {
    display: flex;
    font-size: 1.3rem;
}

nav li {
    list-style-type: none;
    margin-left: 1.5rem;
}

main {
    width: 100%;
}

.blog-posts {
    padding: 2rem;
}

.blog-card {
    width: 100%;
    max-width: 1100px;
    border: 3px solid rgb(145, 200, 255);
    font-size: 0.8rem;
    padding: 0.3rem;
    margin: 0 auto 1.5rem;
}

.blog-card a {
    text-decoration: none;
    color: #000;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    background-color: dodgerblue;
    padding: 0.5rem 0.3rem;
    color: #fff;
}

.blog-header p {
    color: #dedede;
    font-size: 0.65rem;
}

.blog-header span {
    color: #fff;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.blog-main-content {
    padding: 1rem 0.5rem;
}

.num-of-comments {
    color: #cdcdcd;
    font-size: 0.6rem;
    min-width: 55px;
    align-self: flex-end;
}